.home .hero .action-button.primary {
  background-color: rgba(182, 0, 232, 0.9);
  border-color: rgba(182, 0, 232, 0.9);
}

.home .hero .action-button.primary:hover {
  background-color: rgba(182, 0, 232, 0.5);
  border-color: rgba(182, 0, 232, 0.5);
}
